
h2{
    color: #00509d;
    font-size: 2em;
}
h3{
    font-size: 1em;
}
section{
    background-color: #c1ced7;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
section p{
    font-family: 'Titillium Web', sans-serif;
}
b{
    color: #00509d;
}
ul{
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
}
.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.container a{
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 150px;
    cursor: pointer;
    background-color: #fdc500;
}

.container a:hover{
    color: #fff;
    background-color: #00509d;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description img{
    margin-top: 1em;
}

.description h2{
    font-family: 'Titillium Web', sans-serif;
}
.description h3{
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
}

.paint-xd{
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}

.paint-xd div{
    width: 60%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.paint-xd h2{
    font-family: 'Bebas Neue', sans-serif;
}

.paint-xd h3{
    margin-top: 1em;
}

.paint-xd img{
    width: 40%;
}

@media screen and (max-width: 600px) {
    .paint-xd{
        flex-direction: column;
    }
    .paint-xd img{
        width: 100%;
    }
    .paint-xd div{
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    .description img{
        width: 80%;
    }
    .description{
        text-align: center;
    }
  }


