
h2{
    color: #00509d;
    font-size: 2em;
}
h3{
    font-size: 1em;
}
.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    background-color: #c1ced7;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.description img{
    margin-top: 1em;
}

.description h2{
    font-family: 'Titillium Web', sans-serif;
}
.description h3{
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
}

