.container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.password-screen{
    margin-top: 15%;
    margin-bottom: 20px;
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: center;
    border: solid black 5px;
    padding: 30px;
    color: black;
    background-color: #e3f2fd;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    align-self: center;
    background-color: #e3f2fd;
    color: black;
    margin-bottom: 20px;
}
input{
    margin-bottom: 10px;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    cursor: pointer;
}
.copy-button{
    width: 70px;
    height: 40px;
    margin:0;
    border: none;
    background-color: #ffd500;
    font-weight: bold;
    color: #00509d;
    
}
.generate-button{
    width: 200px;
    height: 75px;
    align-self: center;
    background-color: #ffd500;
    border: solid #e3f2fd;
    color: #00509d;
    font-weight: bold;
    font-size: 1.5em;
}
h2{
    font-size: 2em;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .password-screen{
        width: 100%;
        font-size: 0.6em;
    }
    .inputs{
        width: 100%;
    }
    h1{
        font-size: 2em;
    }
}